In [2]:
print('Hello World')

Hello World

In [3]:
print("Ali")

Ali

In [4]:
print("'Abbas'")

'Abbas'

In [5]:
print(123)

123

In [2]:
age = 23
print("My age is : ",age)

My age is :  23

In [3]:
# f string
print(f"My age is : {age}")

My age is : 23

In [4]:
# format()
name="Ali Abbas"
age=23
print("My name is {} and age is {}".format(age,name))

My name is 23 and age is Ali Abbas

In [5]:
print("My name is {} and age is {}".format(name, age))

My name is Ali Abbas and age is 23

In [6]:
# placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age, firstname=name))

My name is Ali Abbas and age is 23

In [7]:
name = 'Ali'
age = 23
degree = 'MCA'
print("My age is {} and i have completed my degree of {} with the name of {}".format(age, degree, name))

My age is 23 and i have completed my degree of MCA with the name of Ali

## Control Flow
### Decision Making statements

In [9]:
## if Statements

age = 18
if age>=18:
    print("You are eligible to Vote.")

You are eligible to Vote.

In [12]:
age = 17
if age>=18:
    print("You are eligible to Vote.")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [18]:
name = input('Enter the name')

In [17]:
age = int(input("Enter the age"))
if age >= 18:
    print("You are eligible to Vote.")
else:
    print("You are not eligible to vote")

You are eligible to Vote.

In [21]:
name = input('Enter the name')
age = int(input("Enter the age"))
if age >= 18:
    print(f"Hello {name}, you are eligible to Vote.")
else:
    print(f"Hello {name}, you are not eligible to Vote.")

Hello Ali, you are not eligible to vote

In [23]:
age = int(input("Enter the age"))
if age >= 18 and age <=45:
    print("You are Young Blood.")

In [28]:
price = int(input('Enter the price : '))

if price > 1000:
    print("You will be gettig 20% off on the product")
    disc = price - price * 0.2
    print(f"The price of the product is {disc}, after the discount")
elif price <= 1000:
    print("You will be gettig 30% off on the product")
    disc = price - price * 0.3
    print(f"The price of the product is {disc}, after the discount")

You will be gettig 30% off on the product
The price of the product is 7.0, after the discount

In [38]:
price = int(input('Enter the price : '))

if price > 3000:
    if price == 4000:
        print("Congratulations You got a Goa trip.")
    print("You will be gettig 20% off on the product")
    disc = price - price * 0.2
    print(f"The price of the product is {disc}, after the discount")
elif price >= 2000 and price <= 3000:
    if price == 2999:
        print("Congratulations you will get an additional Gift.")
    print("You will be gettig 30% off on the product")
    disc = price - price * 0.3
    print(f"The price of the product is {disc}, after the discount")
elif price >= 1000 and price < 2000:
    print("You will be gettig 40% off on the product")
    disc = price - price * 0.4
    print(f"The price of the product is {disc}, after the discount")

You will be gettig 40% off on the product
The price of the product is 1199.4, after the discount

In [2]:
# Single Statement Suites
val=int(input('Enter the number'))
if(val<=1000):print('Value is less than or equal to 1000')
else:print('Go Home')

Value is less than or equal to 1000

# Loops Statements

## 1. While Loop

In [3]:
age = int(input("Enter the number: "))
while age <= 15:
    print("Age of Student is: ", age)
    age = age + 1
else:
    print("You should go to Junior College.")

Age of Student is:  5
Age of Student is:  6
Age of Student is:  7
Age of Student is:  8
Age of Student is:  9
Age of Student is:  10
Age of Student is:  11
Age of Student is:  12
Age of Student is:  13
Age of Student is:  14
Age of Student is:  15
You should go to Junior College.

In [10]:
total_amount = int(input("Enter the amount: "))
while total_amount != 0 and total_amount > 100:
    print(total_amount)
    total_amount = total_amount - 100
else:
    print(f"Remaining amount is {total_amount}. Put more money in the bank.")

101
Remaining amount is 1. Put more money in the bank.

## 2. For Loop

In [11]:
lst = [1, 0, -45, "Ali", True, "Jawed", False, 0.153]

In [12]:
for x in lst:
    print(x)

1
0
-45
Ali
True
Jawed
False
0.153

In [13]:
fruits_list = ['apple', 'banana', 'mango', 'pineapple', 'cherry', 'papaya']
for f in fruits_list:
    print(f)

apple
banana
mango
pineapple
cherry
papaya

In [14]:
fruit = 'Watermelon'
for a in fruit:
    print(a)

W
a
t
e
r
m
e
l
o
n

In [15]:
fruit[0]

'W'

In [16]:
fruit[5]

'm'

In [17]:
# range

for i in range(1, 9):
    print(i)

1
2
3
4
5
6
7
8

In [18]:
for i in range(0, 15, 3):
    print(i)

0
3
6
9
12

## 3. Nested Loop

In [26]:
n=7

for i in range(0, n):
    for j in range(0, i+1):
        print("*", end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

### LOOP Control

#### Break and Continue

In [36]:
fruits_list = ['apple', 'banana', 'mango', 'pineapple', 'cherry', 'papaya']

In [37]:
# Break

for i in fruits_list:
    if i == 'pineapple':
        print("The fruit is pineapple.")
        break
    print(i)

apple
banana
mango
The fruit is pineapple.

In [38]:
# Pass

for i in fruits_list:
    if i == 'pineapple':
        print("The fruit is pineapple.")
        pass
    print(i)

apple
banana
mango
The fruit is pineapple.
pineapple
cherry
papaya

In [39]:
# Continue

for i in fruits_list:
    if i == 'pineapple':
        print("The fruit is pineapple.")
        continue
    print(i)

apple
banana
mango
The fruit is pineapple.
cherry
papaya

In [41]:
# Continue

for i in fruits_list:
    if i == 'pineapple':
        for x in i:
            print(x)
        continue    
    print(i)

apple
banana
mango
p
i
n
e
a
p
p
l
e
cherry
papaya