In [1]:
name = "Ali Abbas urf Jawed"

In [2]:
name.swapcase()

'aLI aBBAS URF jAWED'

In [3]:
name.title()

'Ali Abbas Urf Jawed'

In [4]:
name.capitalize()

'Ali abbas urf jawed'

## Reversing a String

In [6]:
name[::-1]

'dewaJ fru sabbA ilA'

In [9]:
' '.join(reversed(name))

'd e w a J   f r u   s a b b A   i l A'

In [10]:
"Ali".join("Abbas")

'AAlibAlibAliaAlis'

In [11]:
" ".join("abcd")

'a b c d'

In [12]:
print(reversed(name))

<reversed object at 0x000001A145E6E110>

In [13]:
" ".join("ABBAS")

'A B B A S'

In [14]:
" * ".join("ABBAS")

'A * B * B * A * S'

In [16]:
" * ".join(reversed("ABBAS"))

'S * A * B * B * A'

In [17]:
" Ali ".join("ABBAS")

'A Ali B Ali B Ali A Ali S'

In [18]:
# typecasting
list(reversed('ABBAS'))

['S', 'A', 'B', 'B', 'A']

In [19]:
list(reversed(name))

['d',
 'e',
 'w',
 'a',
 'J',
 ' ',
 'f',
 'r',
 'u',
 ' ',
 's',
 'a',
 'b',
 'b',
 'A',
 ' ',
 'i',
 'l',
 'A']

In [20]:
tuple(reversed(name))

('d',
 'e',
 'w',
 'a',
 'J',
 ' ',
 'f',
 'r',
 'u',
 ' ',
 's',
 'a',
 'b',
 'b',
 'A',
 ' ',
 'i',
 'l',
 'A')

In [21]:
tuple(reversed('ABBAS'))

('S', 'A', 'B', 'B', 'A')

In [22]:
for i in list(reversed(name)):
    print(i, end='')

dewaJ fru sabbA ilA

In [25]:
for i in list(reversed('ABBAS')):
    print(i, end=' ')

S A B B A

In [31]:
str_a = " Abbas "
str_a.strip(' ')     # Return a copy of string leading and trailing whitespace removed

'Abbas'

In [33]:
str_a.lstrip(' ')       # Return a copy of string leading whitespace removed

'Abbas '

In [35]:
str_a.rstrip(' ')       # Return a copy of string trailing whitespace removed

' Abbas'

In [36]:
str_b = 'Welcome to Future'

In [37]:
str_b.replace('to', 'from')      # return a copy with all occurence of substring old replaced by new

'Welcome from Future'

In [38]:
str_b.replace('W', 'T')

'Telcome to Future'

In [39]:
str_b.casefold()

'welcome to future'

In [42]:
var_a = str_b.replace('W', 'T')

In [44]:
print(id(str_b))
print(id(var_a))

1792174626560
1792185900352

In [46]:
'Hello\tWorld'.expandtabs()   # makes sure to execute tab

'Hello   World'

In [47]:
str1="Welcome to pwskills. Welcome to Dat cience Masters"

In [48]:
str1.replace('Dat', 'Data').replace('cience', 'Science')

'Welcome to pwskills. Welcome to Data Science Masters'

In [49]:
str1.isupper()    # Return True if the string is an uppercase string, False otherwise.

False

In [50]:
str1 = "ABBAS"

In [51]:
str1.isupper()

True

In [52]:
str1.islower()      # Return True if the string is an lowercase string, False otherwise.

False

In [53]:
str1='ali'
str1.islower()

True

In [54]:
str1.isspace()       # Return True if the string is a whitespace string, False otherwise.

False

In [59]:
str1 = " "

In [60]:
str1.isspace()

True

In [61]:
' '.isspace()

True

In [65]:
str1 = input("Enter something: ")

if str1.isspace():
    print("You didn't enter any word.")
else:
    print(f"You entered {str1}")

You entered ali

In [66]:
str2 = "Ali Abbas"

In [67]:
str2.endswith('s')

True

In [68]:
str2.startswith('a')

False

In [69]:
str2.startswith('A')

True

In [70]:
a = 'abcd@#$123'

In [72]:
a.isalnum()     # Return True is the string is alphanumeric, False otherwise.

False

In [73]:
a.isascii()

True

In [75]:
a.isalpha()

False

In [76]:
a.isdecimal()

False

In [77]:
a.isprintable()

True

In [78]:
str2

'Ali Abbas'

In [80]:
for p in str2:
    print(p)

A
l
i

A
b
b
a
s

## Reversing String with Loops

In [81]:
range(len(str2))

range(0, 9)

In [82]:
for i in range(len(str2)):
    print(i, '=', str2[i])

0 = A
1 = l
2 = i
3 =
4 = A
5 = b
6 = b
7 = a
8 = s

In [88]:
for i in range(len(str2)-1,-1,-1):
    print(str2[i])

s
a
b
b
A

i
l
A

In [95]:
str3= "Uttar Pradesh"
ch=len(str3)-1
ch

12

In [96]:
while ch>=0:
    print(str3[ch])
    ch -= 1

h
s
e
d
a
r
P

r
a
t
t
U

In [97]:
ch=0
while ch<=12:
    print(str3[ch])
    ch += 1

U
t
t
a
r

P
r
a
d
e
s
h

In [98]:
for i in range(len(str3)):
    print(str3[len(str3) - (i+1)])

h
s
e
d
a
r
P

r
a
t
t
U

In [99]:
range(len(str3))

range(0, 13)

In [100]:
for i in range(len(str3)):
    print(str3[len(str3) - (i+1)], end=" ")

h s e d a r P   r a t t U

In [103]:
Name = "The quick brown fox jumps over the lazy dog"
vowels = 'AaEeIiOoUu'

In [104]:
for i in Name:
    if i in vowels:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

T is not a vowel
h is not a vowel
e is a vowel
  is not a vowel
q is not a vowel
u is a vowel
i is a vowel
c is not a vowel
k is not a vowel
  is not a vowel
b is not a vowel
r is not a vowel
o is a vowel
w is not a vowel
n is not a vowel
  is not a vowel
f is not a vowel
o is a vowel
x is not a vowel
  is not a vowel
j is not a vowel
u is a vowel
m is not a vowel
p is not a vowel
s is not a vowel
  is not a vowel
o is a vowel
v is not a vowel
e is a vowel
r is not a vowel
  is not a vowel
t is not a vowel
h is not a vowel
e is a vowel
  is not a vowel
l is not a vowel
a is a vowel
z is not a vowel
y is not a vowel
  is not a vowel
d is not a vowel
o is a vowel
g is not a vowel

## Lists

In [111]:
str1 = "Ali Abbas urf Jawed"

In [112]:
list(str1.split(" "))

['Ali', 'Abbas', 'urf', 'Jawed']

In [114]:
str1.split(" ")

['Ali', 'Abbas', 'urf', 'Jawed']

In [115]:
lst1 = str1.split("maxsplit=")

In [116]:
lst1

['Ali Abbas urf Jawed']

In [117]:
lst1 = str1.split(" ")

In [118]:
lst1

['Ali', 'Abbas', 'urf', 'Jawed']

In [120]:
lst1[1:]

['Abbas', 'urf', 'Jawed']

In [121]:
lst1[-1:]

['Jawed']

In [122]:
lst1[::-2]

['Jawed', 'Abbas']

In [125]:
lst1[-3::2]

['Abbas', 'Jawed']

In [128]:
# Concatenation Operation

lst1 + ['hi', 3]

['Ali', 'Abbas', 'urf', 'Jawed', 'hi', 3]

In [130]:
lst1 + [['hi', 3], 0.25]

['Ali', 'Abbas', 'urf', 'Jawed', ['hi', 3], 0.25]

In [132]:
lst2 = lst1 + [['hi', 3], 0.25]
lst2

['Ali', 'Abbas', 'urf', 'Jawed', ['hi', 3], 0.25]

In [134]:
lst2[-2][0]

'hi'

In [135]:
lst2

['Ali', 'Abbas', 'urf', 'Jawed', ['hi', 3], 0.25]

In [138]:
for i in lst2:
    if i == 'urf':
        break
    print(i)

Ali
Abbas

In [139]:
## check elements inside a list
3 in lst2

False

In [140]:
'Ali' in lst2

True

In [142]:
3 in lst2[-2]

True

In [143]:
lst1=["Zebra","Monkey","Donkey","Lion"]
lst2=[5,6,2,9,5,8,6]

In [144]:
print(max(lst1))

Zebra

In [145]:
print(max(lst2))

9

In [146]:
print(min(lst1))

Donkey

In [147]:
print(min(lst2))

2

In [150]:
lst1

['Zebra', 'Monkey', 'Donkey', 'Lion']

In [153]:
lst1.append('Dragon')

In [154]:
lst1

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Ali', 'Dragon']

In [156]:
lst1 = lst2

In [157]:
lst1

[5, 6, 2, 9, 5, 8, 6]

In [158]:
lst1 = ['Zebra', 'Monkey', 'Donkey', 'Lion', 'Ali', 'Dragon']

In [159]:
lst1

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Ali', 'Dragon']

In [160]:
lst1.append([5, 6, 2, 9, 5, 8, 6])

In [161]:
lst1

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Ali', 'Dragon', [5, 6, 2, 9, 5, 8, 6]]

In [162]:
lst1 = ['Zebra', 'Monkey', 'Donkey', 'Lion', 'Ali', 'Dragon']

In [164]:
lst1.pop()

'Dragon'

In [165]:
lst1

['Zebra', 'Monkey', 'Donkey', 'Lion', 'Ali']

In [166]:
lst1.pop(2)

'Donkey'

In [168]:
lst1[100]

IndexError: list index out of range

In [ ]:
## Sorting and Reverse method is list

In [169]:
new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [170]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [171]:
new_list.reverse()

In [172]:
new_list

['u', 't', 's', 'f', 'e', 'q']

In [173]:
new_list.sort()

In [174]:
new_list

['e', 'f', 'q', 's', 't', 'u']

In [182]:
new_list.sort(reverse=True)

In [177]:
lst1.append([2, 3])  # append() takes exactly one argument

In [180]:
lst1.extend([2, 3])

In [181]:
lst1

['Zebra', 'Monkey', 'Lion', 'Ali', [2, 3], 2, 3]

## Nested List

In [184]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [185]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [252]:
[i[0] for i in matrix]

[1, 4, 7]

In [186]:
matrix[1][2]

6

In [187]:
matrix[2][1:]

[8, 9]

In [209]:
## List Comprehension

[ i for i in range(20) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [216]:
## Even Numbers
[ i if i%2==0 else 'odd' for i in range(20) ]

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [217]:
## Sum of Even and Odd Numbers in two variable
lst = [1,2, 3, 4, 5, 6, 7, 8]

In [226]:
even_sum = 0
odd_sum = 0
for i in lst:
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i
print(f"Sum of Even number is {even_sum}" )
print(f"Sum of ODD number is {odd_sum}" )

Sum of Even number is 20
Sum of ODD number is 16

In [243]:
even_sum = sum([num for num in lst if num%2==0])    # not getting result here maybe some kernel error, run in .py file

TypeError: 'int' object is not callable

In [244]:
odd_sum_sum = sum([num for num in lst if num%2!=0])

TypeError: 'int' object is not callable

In [245]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [246]:
[i**2 for i in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [247]:
# Example 2: Create a list of only the positive numbers from a given list
numbers = [-2, -1, 0, 1, 2, 3, 4]
[num for num in numbers if num > 0]

[1, 2, 3, 4]

In [251]:
# Example 3: Create a list of only the first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']
[i[0] for i in words]

['a', 'b', 'c', 'd']

In [254]:
# Example 4: Convert a list of temperatures from Celsius to Fahrenheit uing list comprehesnion
celsius_temperatures = [0, 10, 20, 30, 40, 50, -40]

[(9/5)*i+32 for i in celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, -40.0]

In [258]:
# Example 5: Flatten a list of lists into a single list
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Assignment

In [261]:
## Using both code and list comprehesnion
# Example 2: Create a list of only the prime numbers from a given list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

primes = [num for num in numbers if num > 1 and all(num % factor != 0 for factor in range(2, int(num**0.5) + 1))]
primes

[2, 3, 5, 7]

In [262]:
# Example 3: Create a list of all the possible combinations of 2 elements from a list
numbers = [1, 2, 3, 4, 5]

combinations = [(x, y) for x in numbers for y in numbers if x < y]
combinations

[(1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 4),
 (3, 5),
 (4, 5)]