### Tuple are basically follows Immutability concepts where it is not going to allow to change any element at a particular index

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t1 = (1,2,3,4,45,45.45 , 45+7j , "ali" , True)

In [4]:
type(t1)

tuple

In [5]:
t1

(1, 2, 3, 4, 45, 45.45, (45+7j), 'ali', True)

In [6]:
t1[0]

1

In [7]:
t1[-1]

True

In [8]:
t1[3:]

(4, 45, 45.45, (45+7j), 'ali', True)

In [9]:
t1[::-1]

(True, 'ali', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [10]:
t1[:-4]

(1, 2, 3, 4, 45)

In [11]:
t1[2::-3]

(3,)

In [13]:
t1[5::-4]

(45.45, 2)

In [14]:
t1

(1, 2, 3, 4, 45, 45.45, (45+7j), 'ali', True)

In [17]:
t1.count(4)

1

In [20]:
t1.count(str)

0

In [21]:
t1.index(1)

0

In [22]:
t1.index('ali')

7

In [23]:
t1.count(True)     # system stores True as 1 and False as 0

2

In [24]:
t1.count(1)

2

In [25]:
t1[0]

1

In [26]:
t1[0] = 252    # Tuples are immutable like string

TypeError: 'tuple' object does not support item assignment

In [27]:
for i in t1:
    print(i)

1
2
3
4
45
45.45
(45+7j)
ali
True

In [28]:
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
45 <class 'int'>
45.45 <class 'float'>
(45+7j) <class 'complex'>
ali <class 'str'>
True <class 'bool'>

In [29]:
t2 = (1,2,3,3,4)

In [30]:
t2 * 3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [31]:
max(t2)

4

In [32]:
min(t2)

1

In [33]:
t1 = (1, 2, 32, 4)
t2 = (4,5,6,7,8)

In [34]:
t3 = (t1, t2)

In [35]:
t3

((1, 2, 32, 4), (4, 5, 6, 7, 8))

In [36]:
t4 = (t3, ['ali', 2,2.2])

In [37]:
t4

(((1, 2, 32, 4), (4, 5, 6, 7, 8)), ['ali', 2, 2.2])

In [38]:
del t4    # deletes the Tuple

In [39]:
t4

NameError: name 't4' is not defined

In [40]:
len(t1)

4

In [41]:
len(t2)

5

In [42]:
len(t3)

2

In [43]:
'ali' in t1

False

In [44]:
2 in t1

True