### Set always stores unique elements and removes the duplicate elements

In [1]:
s = {}

In [2]:
type(s)

dict

In [3]:
s1 = {1, 2, 5, 2.2}

In [4]:
s1

{1, 2, 2.2, 5}

In [5]:
type(s1)

set

In [6]:
s2 = {1,1,12,3,3,3,4,5,5,5,55,523,34,3,45,6,67}

In [7]:
s2

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [8]:
list(s2)

[1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55]

In [9]:
tuple(s2)

(1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55)

In [10]:
s2

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [11]:
l = list(s2)

In [12]:
l

[1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55]

In [13]:
set(l)

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [14]:
s4 = {1,2,3,4, [1,2,3,4]}

TypeError: unhashable type: 'list'

In [15]:
s5 = {1,2,3,4, (1,2,3,4)}

In [16]:
s5

{(1, 2, 3, 4), 1, 2, 3, 4}

In [18]:
s6 = {'Ali', "ali", 2, 3, 4}

In [19]:
s6

{2, 3, 4, 'Ali', 'ali'}

In [24]:
s7 = {'Ali', "Ali", 2, 3, 8.5, 4}

In [25]:
s7

{2, 3, 4, 8.5, 'Ali'}

In [22]:
s7[0]

TypeError: 'set' object is not subscriptable

In [26]:
for i in s7:
    print(i)

2
3
4
Ali
8.5

In [27]:
s7.add(34)

In [28]:
s7

{2, 3, 34, 4, 8.5, 'Ali'}

In [29]:
s7.add(3)

In [30]:
s7

{2, 3, 34, 4, 8.5, 'Ali'}

In [31]:
len(s7)

6

In [32]:
s7.pop()

2

In [33]:
s7.pop()

3

In [34]:
s7.pop()

4

In [35]:
s7

{34, 8.5, 'Ali'}

In [36]:
s7.clear()

In [37]:
s7

set()

In [38]:
s8 = {1,2,3,4}
s9 = {1,2,3,5}

In [39]:
s8.difference(s9)

{4}

In [40]:
s9.difference(s8)

{5}

In [41]:
s9.difference(s9)

set()

In [42]:
s9

{1, 2, 3, 5}