In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d1 = {"name" : "sudh" , "emiil_id" : "ss@gmail.com" , "number" :234324}

In [4]:
type(d1)

dict

In [5]:
d1

{'name': 'sudh', 'emiil_id': 'ss@gmail.com', 'number': 234324}

In [6]:
d2 = { 'name' : 'ali', 'name' : 'abbas'}     # key should be unique

In [7]:
d2

{'name': 'abbas'}

In [8]:
d3 = {252152 : 'abc'}

In [9]:
d3

{252152: 'abc'}

In [10]:
d4 = {2552.523 : 'abcd'}

In [11]:
d4

{2552.523: 'abcd'}

In [12]:
d5 = { True : 'abcd'}

In [13]:
d5

{True: 'abcd'}

In [14]:
d6 = { $ : "abcd"}

SyntaxError: invalid syntax (1757818625.py, line 1)

In [15]:
d7 = { @ : 'abcd'}

SyntaxError: invalid syntax (2023153025.py, line 1)

In [18]:
d8 = {[1,2,3] : "abcd"}

TypeError: unhashable type: 'list'

In [19]:
d9 = {(1,2,3) : "abcd"}

In [20]:
d9

{(1, 2, 3): 'abcd'}

In [21]:
d10 = {{1,2,3} : "abcd"}

TypeError: unhashable type: 'set'

In [22]:
d11 = {{'key' : 252} : 'abcd'}

TypeError: unhashable type: 'dict'

In [23]:
d12 = {"course_name" : ["data science master" , "web dev" ,"java with dsa and system Design"]}

In [24]:
d12

{'course_name': ['data science master',
  'web dev',
  'java with dsa and system Design']}

In [25]:
d13 = {"key" : (1,2,3,4,5)}

In [26]:
d13

{'key': (1, 2, 3, 4, 5)}

In [27]:
d14 = {"key" : {1,2,3,4,5,6}}

In [28]:
d14

{'key': {1, 2, 3, 4, 5, 6}}

In [29]:
d15 = {"key" : {'f_name' : 'ali', 'l_name' : 'abbas'}}

In [30]:
d15

{'key': {'f_name': 'ali', 'l_name': 'abbas'}}

In [31]:
d16 = {"batch_name" :["data science masters" , "web dev" , "JDS"] , "start_date": (28,14,21),"mentor_name" : {"krish naik", "sudhanshu" , "hitesh", "anurag" , "navin","hayder"}}

In [32]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'}}

In [33]:
d16['timing'] = (8,8,8)

In [34]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [35]:
d16["batch_name"]

['data science masters', 'web dev', 'JDS']

In [36]:
type(d16["mentor_name"])

set

In [37]:
d16['key']

KeyError: 'key'

In [38]:
d16['name'] = 'Ali Abbas'

In [39]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ali Abbas'}

In [40]:
d16['name']

'Ali Abbas'

In [41]:
d16['name'].upper()

'ALI ABBAS'

In [42]:
d15

{'key': {'f_name': 'ali', 'l_name': 'abbas'}}

In [43]:
d15['key']

{'f_name': 'ali', 'l_name': 'abbas'}

In [44]:
type(d15['key'])

dict

In [45]:
d15['key']['l_name']

'abbas'

In [46]:
d15['key1'] = 'abcd'

In [47]:
d15

{'key': {'f_name': 'ali', 'l_name': 'abbas'}, 'key1': 'abcd'}

In [48]:
del d15['key1']

In [49]:
d15

{'key': {'f_name': 'ali', 'l_name': 'abbas'}}

In [50]:
d15.clear()

In [51]:
d15

{}

In [52]:
len(d16)

5

In [53]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ali Abbas'}

In [54]:
d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [55]:
d16.values()

dict_values([['data science masters', 'web dev', 'JDS'], (28, 14, 21), {'hayder', 'hitesh', 'krish naik', 'sudhanshu', 'navin', 'anurag'}, (8, 8, 8), 'Ali Abbas'])

In [56]:
list(d16.values())

[['data science masters', 'web dev', 'JDS'],
 (28, 14, 21),
 {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'},
 (8, 8, 8),
 'Ali Abbas']

In [57]:
list(d16.keys())

['batch_name', 'start_date', 'mentor_name', 'timing', 'name']

In [58]:
d16.items()

dict_items([('batch_name', ['data science masters', 'web dev', 'JDS']), ('start_date', (28, 14, 21)), ('mentor_name', {'hayder', 'hitesh', 'krish naik', 'sudhanshu', 'navin', 'anurag'}), ('timing', (8, 8, 8)), ('name', 'Ali Abbas')])

In [59]:
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'Ali Abbas')]

In [60]:
d17 = d16.copy()         # deep copy the data. having different memory location

In [61]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ali Abbas'}

In [62]:
d18 = d16        # having same memory location

In [63]:
d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ali Abbas'}

In [64]:
del d16['name']

In [65]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [66]:
d17

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Ali Abbas'}

In [67]:
d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [68]:
print(id(d16))
print(id(d17))
print(id(d18))

1730885045888
1730884999232
1730885045888

In [69]:
d18['name'] = 'Abbas'

In [70]:
d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Abbas'}

In [71]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'Abbas'}

In [73]:
d16.pop('name')

'Abbas'

In [74]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [75]:
d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [77]:
d.fromkeys((1,2,3, 4), ('a', 'b', 'c', 'd'))

{1: ('a', 'b', 'c', 'd'),
 2: ('a', 'b', 'c', 'd'),
 3: ('a', 'b', 'c', 'd'),
 4: ('a', 'b', 'c', 'd')}

In [78]:
d19 = {"key1" : "value1" , "key2" : "value2"}
d20 = {"key3" : "value3" , "key4" : "value4"}

In [79]:
(d19, d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [80]:
d19.update(d20)

In [81]:
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [82]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [83]:
d20.update(d19)

In [84]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [85]:
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [86]:
d20.get('ali')

In [87]:
d20.get('key3')

'value3'

In [88]:
d20['key3']

'value3'

In [89]:
d20['ali']

KeyError: 'ali'

## Dictionary Comprehension

In [91]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
{i : i ** 2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [93]:
[i ** 2 for i in range(1,11)]   ## List Comprehension

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [96]:
t = (i ** 2 for i in range(1,11))    ## Tuple Comprehension
print(t)

<generator object <genexpr> at 0x0000019300D09930>

In [97]:
{i ** 2 for i in range(1,11)}      ## Set Comprehension

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [99]:
{i : i + 10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [100]:
import math

{i : math.log10(i) for i in range(1, 11)}

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [101]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [102]:
'batch_name' in d16

True

In [103]:
'name' in d16

False

In [104]:
import math
d21 = {i : math.log10(i) for i in range(1, 11)}

In [105]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [106]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [107]:
d21.values()

dict_values([0.0, 0.3010299956639812, 0.47712125471966244, 0.6020599913279624, 0.6989700043360189, 0.7781512503836436, 0.8450980400142568, 0.9030899869919435, 0.9542425094393249, 1.0])

In [109]:
for i in d21.keys():
    if i % 2 == 0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [110]:
10 % 3

1

In [111]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4