In [1]:
print("This is my program")

This is my program

In [2]:
l = [1,2,3,4,5]

In [3]:
len(l)

5

In [5]:
def test():

SyntaxError: incomplete input (1511960506.py, line 1)

In [6]:
def test():
    pass

In [7]:
def test1():
    print("Hi, This is Ali Abbas.")

In [8]:
test1()

Hi, This is Ali Abbas.

In [9]:
test()

In [10]:
test1() + 'ali'

Hi, This is Ali Abbas.

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [12]:
str(test1()) + 'ali'

Hi, This is Ali Abbas.

'Noneali'

In [13]:
def test2():
    return "This is 1st function with return"

In [14]:
test2()

'This is 1st function with return'

In [16]:
test2() + ' ali'

'This is 1st function with return ali'

In [17]:
def test3():
    return 1,4,'Ali Abbas', 34.56

In [18]:
test3()

(1, 4, 'Ali Abbas', 34.56)

In [19]:
a = 1,2,3,4,5

In [20]:
a

(1, 2, 3, 4, 5)

In [21]:
a, b, c, d = 1, 2, 34.56, True

In [22]:
a

1

In [23]:
b

2

In [24]:
c

34.56

In [25]:
d

True

In [26]:
test3()

(1, 4, 'Ali Abbas', 34.56)

In [27]:
test3()[0]

1

In [28]:
test3()[1]

4

In [29]:
test3()[2]

'Ali Abbas'

In [30]:
test3()[3]

34.56

In [31]:
test3()[-1]

34.56

In [32]:
test3()[1:]

(4, 'Ali Abbas', 34.56)

In [34]:
test3()[:-1]

(1, 4, 'Ali Abbas')

In [36]:
test3()[::-1]

(34.56, 'Ali Abbas', 4, 1)

In [37]:
a, b, c, d = test3()

In [38]:
a

1

In [39]:
b

4

In [40]:
c

'Ali Abbas'

In [41]:
d

34.56

In [43]:
def test4():
    a = 5*6 +5
    return a

In [44]:
test4()

35

In [45]:
type(test4())

int

In [46]:
def test5(a, b):
    c = a + b
    return c

In [48]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [49]:
test5(2, 88)

90

In [51]:
test5('Ali', ' Abbas')

'Ali Abbas'

In [52]:
test5([1,2,3,4], [5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
test5({1,2,3,4}, {5,6,7,8})

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [54]:
test5((1,2,3,4), (5,6,7,8))

(1, 2, 3, 4, 5, 6, 7, 8)

In [56]:
test5(b = ' Ali', a = ' Abbas')

' Abbas Ali'

In [58]:
test5(b = 'Abbas', a = " Ali")

' AliAbbas'

In [59]:
l = [1,2,3,4,5,'ali', 'abbas', [1,2,3,34,45]]

In [60]:
# Create a function which will take list as an input and give me a final list with all the numeric value

In [64]:
def test6(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [65]:
test6(l)

[1, 2, 3, 4, 5]

In [68]:
def test7(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [69]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]