In [1]:
def test(a,b,c,d,e):
    pass

In [2]:
test()

TypeError: test() missing 5 required positional arguments: 'a', 'b', 'c', 'd', and 'e'

In [3]:
test(1,2,3,4,5)

In [4]:
test(1,2,3,4,5,6,7)

TypeError: test() takes 5 positional arguments but 7 were given

In [5]:
def test1(*args):
    return args

In [6]:
test1(1)

(1,)

In [7]:
test1(1,2,3,1,5)

(1, 2, 3, 1, 5)

In [8]:
test1(1,2.2,653)

(1, 2.2, 653)

In [9]:
test1(1,23,53,'ali',True)

(1, 23, 53, 'ali', True)

In [10]:
test1('ali', [1,23,34,23.2,'abbas'], (223,6,5.5, True), {1,2,5,'jawed', False})

('ali',
 [1, 23, 34, 23.2, 'abbas'],
 (223, 6, 5.5, True),
 {1, 2, 5, False, 'jawed'})

In [12]:
def test2(*ali):
    return ali

In [13]:
test2(1,2,5,'ali')

(1, 2, 5, 'ali')

In [14]:
def test3(*args, a):
    return args, a

In [15]:
test3(1,2,3,4, 'ali')

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [16]:
test3(1,2,3,4, a = 'ali')

((1, 2, 3, 4), 'ali')

In [17]:
def test4(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [19]:
test4('ali', [1,23,34,23.2,'abbas'], (223,6,5.5, True), {1,2,5,'jawed', False})

[[1, 23, 34, 23.2, 'abbas']]

In [20]:
test4(1,2,3,53.52, [1,2,3,'ali'], 'abcd', [1,2,3,'abbas'], True)

[[1, 2, 3, 'ali'], [1, 2, 3, 'abbas']]

In [21]:
def test5(**kwargs):
    return kwargs

In [22]:
test5()

{}

In [24]:
type(test5())

dict

In [25]:
test5(a=3, b=12, c=[1,2,3,4], d=('ali', 'abbas', 25.21))

{'a': 3, 'b': 12, 'c': [1, 2, 3, 4], 'd': ('ali', 'abbas', 25.21)}

In [26]:
l1 = test5(a=3, b=12, c=[1,2,3,4], d=('ali', 'abbas', 25.21))

In [27]:
l1

{'a': 3, 'b': 12, 'c': [1, 2, 3, 4], 'd': ('ali', 'abbas', 25.21)}

In [32]:
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]

In [29]:
test6(l1)

TypeError: test6() takes 0 positional arguments but 1 was given

In [33]:
test6(a=3, b=12, c=[1,2,3,4], d=('ali', 'abbas', 25.21))

('c', [1, 2, 3, 4])

In [34]:
def test7(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == tuple:
            return i, kwargs[i]

In [35]:
test7(a=3, b=12, c=[1,2,3,4], d=('ali', 'abbas', 25.21))

('d', ('ali', 'abbas', 25.21))

In [36]:
def test8(*args, **kwargs):
    return args, kwargs

In [37]:
test8(2)

((2,), {})

In [38]:
test8(1,2,3,4,6, a=45, b=22.2, c='ali', d=True)

((1, 2, 3, 4, 6), {'a': 45, 'b': 22.2, 'c': 'ali', 'd': True})