## Map Function
The map function in Python is a built-in function that allows you to apply a function to each item in an iterable (such as a list, tuple, or dictionary) and return a new iterable (a map object) that contains the transformed items. You can also pass more than one iterable to the map function, as long as the function can take that many arguments.

map(function, iterables)

In [1]:
lst = [1,2,3,4,5,6,45]

In [2]:
def test(a):
    l = []
    for i in a:
        l.append(i**2)
    return l

In [3]:
test(lst)

[1, 4, 9, 16, 25, 36, 2025]

In [4]:
def sq(x):
    return x**2

In [5]:
list(map(sq, lst))

[1, 4, 9, 16, 25, 36, 2025]

In [6]:
tuple(map(sq, lst))

(1, 4, 9, 16, 25, 36, 2025)

In [7]:
set(map(sq, lst))

{1, 4, 9, 16, 25, 36, 2025}

In [8]:
list(map(lambda x : x**2, lst))

[1, 4, 9, 16, 25, 36, 2025]

In [9]:
list(map(lambda add : add + 10, lst))

[11, 12, 13, 14, 15, 16, 55]

In [10]:
list(map(lambda sub : sub - 2, lst))

[-1, 0, 1, 2, 3, 4, 43]

In [11]:
list(map(lambda mul : mul * 5, lst))

[5, 10, 15, 20, 25, 30, 225]

In [12]:
list(map(lambda div : div / 2, lst))

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 22.5]

In [13]:
list(map(lambda mod : mod % 3, lst))

[1, 2, 0, 1, 2, 0, 0]

In [14]:
list(map(lambda s : str(s), lst))

['1', '2', '3', '4', '5', '6', '45']

In [15]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]

In [16]:
list(map(lambda x, y : x + y, lst1, lst2))

[7, 9, 11, 13, 15]

In [17]:
f = lambda x, y : x + y

In [18]:
list(map(f, lst1, lst2))

[7, 9, 11, 13, 15]

In [19]:
s = "ali abbas"

In [20]:
list(map(lambda x : x.upper(), s))

['A', 'L', 'I', ' ', 'A', 'B', 'B', 'A', 'S']

In [23]:
a = tuple(map(lambda x : x.upper(), s))

In [24]:
print(a)

('A', 'L', 'I', ' ', 'A', 'B', 'B', 'A', 'S')

## Reduce Function
The reduce function in Python is a function that applies a function to an iterable and returns a single value that is the result of combining all the items in the iterable using the function. You can import the reduce function from the functools module like this:

from functools import reduce

The first argument of the reduce function is the function that you want to apply to the items. The second argument is the iterable that you want to process. The function must take two arguments and return one value. 

The reduce function works by taking the first two items of the iterable, applying the function to them, and then using the result as the first argument for the next call of the function with the next item of the iterable, and so on, until there are no more items left.

reduce(function, iterable)

In [25]:
from functools import reduce

In [26]:
lst

[1, 2, 3, 4, 5, 6, 45]

In [27]:
reduce(lambda x, y : x + y, lst)

66

In [28]:
def add(x, y):
    return x + y

In [29]:
reduce(add, lst)

66

In [30]:
reduce(lambda x, y, z : x+y+z, lst)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [31]:
reduce(lambda x, y : x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [32]:
reduce(lambda x, y : x+y, [2])   # exceptional case

2

In [36]:
reduce(lambda x, y : x if x > y else y, lst)

45

## Filter Function
The filter function in Python is a built-in function that allows you to select elements from an iterable (such as a list, tuple, or string) based on the output of a function. The function is applied to each element of the iterable and if it returns True, the element is selected by the filter function.

filter(function or None, iterable)

In [37]:
lst

[1, 2, 3, 4, 5, 6, 45]

In [40]:
list(filter(lambda x: x%2==0, lst))

[2, 4, 6]

In [41]:
list(filter(lambda x: x%2!=0, lst))

[1, 3, 5, 45]

In [42]:
lst3 = [-2,4,5,6,-3,-6,-7]

In [43]:
list(filter(lambda x: x<0, lst3))

[-2, -3, -6, -7]

In [44]:
list(filter(lambda x: x>0, lst3))

[4, 5, 6]

In [45]:
lst4 = ['ali', 'abbas', 'jawed', 'paikar', 'new delhi', 'jaipur']

In [46]:
list(filter(lambda x: len(x)<6, lst4))

['ali', 'abbas', 'jawed']

In [47]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = map(lambda x: x**2, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [48]:
product = reduce(lambda x, y: x*y, numbers)

print(product)

120

In [49]:
numbers = [1, 2, 3, 4, 5]

even_numbers = filter(lambda x: x%2 == 0, numbers)

print(list(even_numbers))

[2, 4]